.container {
  width: 50%;
  margin: 0 auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.span {
  color: #f26a30;
  font-weight: 500;
  cursor: pointer;
}

.submit {
  cursor: pointer;
}
